<ion-view view-title="档案">
    <ion-content>

        <div class="list card">
            <div class="item item-divider">查询</div>
            <div class="item item-body">
                <div>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <form>
                        <input type="text" ng-model="querydata.querystr"  ng-keyup="query($event)" placeholder="查询">
                        </form>
                    </label>
                </div>
            </div>
        </div>
        <span ng-show="listdata && listdata.length ==0">{{querydata.querystr}} 没有数据!</span>
        <ion-list ng-show="listdata && listdata.length>0">
            <ion-item ng-repeat="item in listdata">
                {{item.name}} {{item.address}} {{item.birthday}} {{item.tel}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
